.json-textarea {
  width: 100%;
  height: 600px;
  background-color: goldenrod;
  color: #384654;
  border: none;
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}
